* {
   font-family: 'Muli', sans-serif;
    border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/*Navbar Styling*/
#navbarResponsive li a {
   text-decoration: none;
}

nav a:hover {
  color: #c86441;
}

.custom-toggler.navbar-toggler {
    margin-right: 10%;
    background-color: white;
}

 .nav-item{
    text-align: right;
}

@media only screen and (max-width: 575px) {
     .nav-item{
         margin-right: 10%;
    }
}

.navbar {
  margin-bottom: 0;
  z-index: 2;
  font-size: 16px !important;
}

.bg-dark {
    transition: 750ms ease;
    background-color: transparent !important;
}

.bg-dark.scrolled{
     transition: 750ms ease;
    background-color: white !important;
    opacity: 0.7;
}

.logo {
    transition: 750ms ease; 
    width: 8vh;
    margin-left: 5vw;
   
}

.nav-link1{
    transition: 750ms ease;
    color: white;
    padding-right: 3vh;
    
}

.alt-color{
    transition: 750ms ease;
    color: black;
    padding-right: 3vh;
}

/*Home Styling*/
.welcome-message {
    align-self: center;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
   
}

h1, h3 {
    color: white;
    font-size: 60px;
    text-align: center;
   
}

.slogan {
    color: white;
    font-size: 50px;
    font-weight: lighter;
    text-shadow: 0px 1px 1px black;
    font-family: "Helvetica Neue";
    letter-spacing: 10px;
}

.g-way {
    color: white;
    font-size: 75px;
    font-weight: lighter;
    text-shadow: 0px 1px 1px black;
    font-family: "Helvetica Neue";
    letter-spacing: 10px;
}

.home {
    height: 98vh;
    width: 100%;
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(Images/Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    
}


/*About Styling*/
.transition {
    width: 8vh;    
    bottom: -1vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.title {
    height: 15vh;
    font-weight: 900;
    margin-top: 13vh;
    padding-bottom: 15vh;
   
}

h2 {
    color: #c86441;
    text-align: center;
    font-size: 300%;
}

.item {
    background-color: white;
    text-align: justify;
    padding: 5vh;    
}

.item h4 {
    margin-bottom: 3vh;
    text-align: center;
    color: #5a6482ed;
}

.about {
    background-color: white;
    height: auto;
    align-content: center;
}


/*Gallery Styling*/
.gallery {
    background-color: #EEEEEE;
    height: auto;
    padding-bottom: 10%;
    align-content: center;
}

.gallery h2 {
    padding-top: 15vh;
    padding-bottom: 5vh;
}

/*Efectos galería*/

.img-responsive {
    max-width: 60vh;
    border: solid white 1px;
}

.hovereffect {
  width: 60vh;
  height: 35vh;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
/*    display: inline-block;*/
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;  
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/*Contacto*/
.contact {
    height: 70vh;
    background-color: #191919;
}

/*Contacto-izq*/
.contact1 {
     background:linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url(Images/Contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10vh;
    padding-left: 20vh;
}

/*Contacto-der*/
.contact2 {
    text-align: center;
    background-color: #191919;
}

 .contact h2 {
    color:white;
    padding-top: 5vh;  
}

.contact h5 {
    color: white;
}

.contact p {
    color: lightgray;   
}

.contact a {
    color: #c86441;
    text-decoration: none;
    
}

p1:hover {  
    color: #a54929;
}

.fas {
    color: white;
    font-size: 3vh;
}


@media only screen and (max-width: 375px) {
   
    .img-responsive {
        width: 360px;
    }
    

    .contact1, .contact2 {
        padding: 20%;
    }
    
}



